
@import "variables";

@import "mixins";


body > section, header, footer {
  box-sizing:border-box;
 -moz-box-sizing:border-box; /* Firefox */
  position: relative;

  @media (max-width: 767px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

a {
	font-weight: 600;
	color: @midnight-blue;
}

a:hover,
a:focus {
  color: @asbestos;
  text-decoration: none;
}

body {
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'Lato';
    font-weight: 300;

  @media (max-width: 767px) {
    padding-right: 0;
    padding-left: 0;
  }
}

body > section {
  padding-top: 60px;
  padding-bottom: 120px;
}


h1 {
	font-size: 4em;
	font-weight: 300;
	line-height: 1.3em;
	color: @midnight-blue;
	padding-bottom: 50px;

		@media (max-width: 480px) {
			font-size: 3em;
		}
}



.jumbotron.tagline {
	padding: 0; margin: 0;
	border-radius: 0px!important;
	opacity: 0.95;
	

	h2 {
	  font-size: 2em;
	  line-height: 1.7em;
	  color: @midnight-blue;
	  font-weight: 300;

	  
	  padding: 30px 40px;
	}

	@media (max-width: 480px) {
		margin: 0px 0 40px;
		font-size: 1em;
	}

}

footer {

	.columns {
		margin-bottom: 40px;
	}

	background-color: white;
	padding: 50px 0px;
	font-size: 1.2em;
	line-height: 1.7em;

	@media (max-width: 768px) {
		text-align: center;
	}
}
